<a href="https://colab.research.google.com/github/Shishir47-102/dugout/blob/master/20229040_Assignment_JU_ASDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Write a Python program to count the number of characters (character frequency) in a string. Sample String : google.com**

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, }

In [33]:
sample_string="google.com"
expected_dict = {}
for n in sample_string:
    keys = expected_dict.keys()
    if n in keys:
        expected_dict[n] += 1
    else:
        expected_dict[n] = 1
print(expected_dict)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

**2. Write a Python program to check if a given key already exists in a dictionary**

In [28]:
def Key_check(My_dict, key):
    if key in My_dict.keys():
        print(f'{key} The key already present')
    else:
        print(f'{key} Sorry! This key does not present in the dictionary')

My_dict={'Shishir':'20229040', 'admiral':'2033946'}

check=input("Please insert the key as a string: ")

Key_check(My_dict, check)

Please insert the key as a string: Shishir
Shishir The key already present

**3.Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers. Sample data : 1, 5, 7, 23**

Expected Output :

List : ['1', ' 5', ' 7', ' 23']

Tuple : ('1', ' 5', ' 7', ' 23)

In [13]:
Number=int(input("How many numbers do you want to include in the list "))
My_list=[]
for i in range(0,Number): 
    User_input=int(input("Please input a number by typing the number and pressing enter key : "))
    My_list.append(User_input)
print(My_list)
print(tuple(My_list))

How many numbers do you want to include in the list 4
Please input a number by typing the number and pressing enter key : 1
Please input a number by typing the number and pressing enter key : 5
Please input a number by typing the number and pressing enter key : 7
Please input a number by typing the number and pressing enter key : 23
[1, 5, 7, 23]
(1, 5, 7, 23)

**4. Write a Python program to calculate the number of days between two dates. Sample dates : (2014, 7, 2), (2014, 7, 11)**

Expected output : 9 days

In [14]:
from datetime import date
first_date = date(2014, 7, 2)
last_date = date(2014, 7, 11)
difference = last_date - first_date
print(difference.days,"days")

9 days

**5. Write a Python program to solve (x + y) * (x + y)**

Test Data : x = 4, y = 3

Expected Output : (4 + 3) ^ 2) = 49

In [15]:
x=int(input("input a number: "))
y=int(input("input a number: "))

math=(x+y)*(x+y)
print(math)

input a number: 4
input a number: 3
49

**6. Write a Python program to compute the future value of a specified principal amount, rate of interest, and number of years. Test Data : amt = 10000, int = 3.5, years = 7**

Expected Output : 12722.79

In [16]:
principal_amount = float(input("Enter the principal amount: "))
rate_interest = float(input("Enter the interest rate: "))
years = int(input("Enter the number of years: "))

future_value = principal_amount * ((1 + (rate_interest/100)) ** years)

print("The future value is:", round(future_value, 2))

Enter the principal amount: 10000
Enter the interest rate: 3.5
Enter the number of years: 7
The future value is: 12722.79

**7. Write a Python program that removes duplicate elements from a given array of numbers so that each element appears only once and returns the new length of the array. Sample Input: [0,0,1,1,2,2,3,3,4,4,4]**

Sample Output:

The list of unique numbers: [0,1,2,3,4]

length of the unique list : 5

In [18]:
my_list = input("Enter a list of integers with space: ").split(" ")
my_list = [int(x) for x in my_list]
new_list = []
for element in my_list:
    if element not in new_list:
        new_list.append(element)
print(f"The list of unique numbers: {new_list}")
print("Length of the unique list: ", len(new_list))

Enter a list of integers with space: 0 0 1 1 2 2 3 3 4 4 4
The list of unique numbers: [0, 1, 2, 3, 4]
Length of the unique list:  5

**8. Write a Python program to sort (ascending and descending) a dictionary by key value**

In [19]:
my_dict = {1: 2, 3: 4, 5: 4, 3: 1, 2: 0}
result = sorted(my_dict.items())
new_dict = sorted(my_dict.items(),  reverse = True)
print("Ascending:",result)
print("decending:",new_dict)

Ascending: [(1, 2), (2, 0), (3, 1), (5, 4)]
decending: [(5, 4), (3, 1), (2, 0), (1, 2)]

**9. Write a Python program to add key to a dictionary. Go to the editor**

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [20]:
dict = {0:10, 1:20}
print(dict)
dict.update({2:30})
print(dict)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

**10. Write a Pandas program to create and display a DataFrame from a specified dictionary datawhich has the index labels. Sample Python dictionary data and list labels:**

exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g',

In [21]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes